[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
[submodule "plugins/pelican-plugins"]
	path = plugins/pelican-plugins
	url = git://github.com/getpelican/pelican-plugins.git
[submodule "plugins/twitter_card"]
	path = plugins/twitter_card
	url = git@github.com:MichaelMartinez/twitter_card.git
